body{

    background-color: black;
}

.menu{

    background-color: black;
    display: flex;
    justify-content: space-between;
    position: sticky;
    
}


.logoB{

    height: 30px;
    display: block;
    margin: auto 10px;

}

.menu-list{

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    display: flex;

    
}

.menu-list a{

    text-decoration: none;
    color: white;
    font-size: 0.8em;
    display:block;
    margin: 0 20px 0 0px;
}

.mainSec{

    background-image: url("../Imagenes/img_cover_home.jpg");
    background-repeat: no-repeat;
   /* background-size: contain; o 100px auto, backgorund-size:contain la reduce hasta que la pueda contener*/
    background-position: center;
    background-size: cover;
    height: 40vmax;
    display: flex;
    justify-content: center;
    align-items: center;
 
 
   

  
}

.mainSec-content{

    color: white;
    font-family: Arial, Helvetica, sans-serif;
   

    text-align: center;
    display: block;
   

    
   
}





.buscar {

    display: flex;
    height: 200px;
  
    justify-content: center;
    align-items: center;
    margin-top: -80px;


}

.buscar input{

    height: 30px;
}

.buscar button{

    background-image: url("../Imagenes/searchIcon.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin-left: -10px;
   
    display: inline-block;
   
}

.destinos{

    background-color: white;
    height: 60%;
   
   

}

.destinosText{

        text-align: center;
        font-family: sans-serif;
        padding-top: 20px;
        height: 60px;
      
   
}

.destinosText h2,
.destinosText p {

    margin: 0 auto;
}


.containerDestinos{

    display: grid;
    border: 1px red solid;
    margin: 30px auto;
    width: 90%;
  
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(6 / 10%);

    grid-gap: 10px;
}

.item{

    border: 1px blue solid;
    font-family: sans-serif;
    display: flex;
   
   
}

.mexico{
    grid-column: 1 / 6;
    grid-row: 1/2;
   


}

.item img{

    width: 300px;
      border: 10px green solid;
  
    


}

.info{

    margin: 10px 10px;
}

#otrosMex1{

    grid-column: 2/3;
    text-align: center;
  
    background-image: url(../Imagenes/rivieraM.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;


}

#otrosMex2{

    grid-column: 3/4;
    text-align: center;
    background-image: url(../Imagenes/ciudades.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;

}

#otrosMex3{

    grid-column: 4/5;
    text-align: center;
    background-image: url(../Imagenes/museos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;

}

#europa{

    grid-row: 3/4;
    grid-column: 1/6;


}
#norteamerica{

    grid-row: 4/5;
    grid-column: 1/6;



}
#asia{

    grid-row: 5/6;
    grid-column: 1/6;



}





.footer{
background-color: black;
height: 100px;
color: white;
font-family: Arial, Helvetica, sans-serif;
display: flex;
justify-content: space-between;
align-items: center;


}


.icons{
     display: flex;
     margin-right: 20px;

}

.footer a{

   display: block;
    width: 30px;

    
   
}