body{
    background-color: black;
}
.menu{

    background-color: black;
    display: flex;
    justify-content: space-between;
    position: sticky;
    
}


.logoB{

    height: 1em;
    display: block;
    margin: auto 10px;

}

.menu-list{

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
    display: flex;

    
}

.menu-list a{

    text-decoration: none;
    color: white;
    font-size: 0.8em;
    display:block;
    margin: 0 20px 0 0px;
}

.mainSec{

    background-image: url("../Imagenes/img_cover_home.jpg");
    background-repeat: no-repeat;
   /* background-size: contain; o 100px auto, backgorund-size:contain la reduce hasta que la pueda contener*/
    background-position: center;
    background-size: cover;
  
    display: flex;
    justify-content: center;
    align-items: center;
 
 
   

  
}

.mainSec-content{

    color: white;
    font-family: Arial, Helvetica, sans-serif;
   

    text-align: center;
    display: block;
   
    margin: auto;
    height: 50%;
   

    
   
}
.mainSec-content h1{

    font-size: 2em;
}

 p{
    font-size: 1em;
}






.buscar {

    display: flex;
    height: 200px;
  
    justify-content: center;
    align-items: center;
    margin-top: -80px;


}

.buscar input{
    
    width: 40%;
   height: 30px;
}

.buscar button{

    background-image: url("../Imagenes/searchIcon.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    margin-left: -10px;
   
    display: inline-block;
   
}

.destinos{

    background-color: white;
    border: 1px blue solid;
   
   

}

.destinosText{

        text-align: center;
        font-family: sans-serif;
        padding-top: 40px;
        height: 60px;
        border: 1px black solid;
      
   
}

.destinosText h2,
.destinosText p {

    margin: 0 auto;
}


.containerDestinos{

    display: grid;
    border: 1px red solid;
   margin: auto;
    width: 90%;
    

 
 
  
    grid-template-columns:  repeat (5,1fr);
    grid-template-rows: repeat (5 , 1fr);

    grid-gap: 1%;
    
}

.item{

    border: 1px blue solid;
    font-family: sans-serif;
    display: flex;
    align-items: center;

   
}

.mexico{
    grid-column: 1 / 6;
    grid-row: 1/2;
   


}

.item img{

     width: 30%;
      border: 10px green solid;
  
    


}

.info{

    margin: 10px 10px;
}

.desMex{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.desMex img{

    width: 90%;
    
}
#otrosMex1{

    grid-column: 2/3;
    grid-row: 2/3;
   
   
}

#otrosMex2{

    grid-column: 3/4;
    grid-row: 2/3;
  
}

#otrosMex3{

    grid-column: 4/5;
    grid-row: 2/3;
}

#europa{

    grid-row: 3/4;
    grid-column: 1/6;


}
#norteamerica{

    grid-row: 4/5;
    grid-column: 1/6;



}
#asia{

    grid-row: 5/6;
    grid-column: 1/6;



}





.footer{
background-color: black;
color: white;
font-family: Arial, Helvetica, sans-serif;
display: flex;
align-items: center;
justify-content: space-between;
border:1px red solid;
width: 90%;
margin: auto;

}



.img-icon{

    width: 2em;
    margin-right: 1em;
}


.info *{

    margin: 0;
}





/*hamburguer menu*/

.menu-icon{

    color:white;
    display: none;
}


@media all and (max-width:767px){  /*smartphone portrait a landscape*/
    .menu-icon{
        display:block;
    }

    nav{

        display: none;
    }


}

 